.heading-primary{
  color:$color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main{
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 2s ease-out;

  /* 
  animation-delay: 1s; 
  animation-iteration-count: 3;
  */
}

.heading-primary--sub{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.75rem;
  /* animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
  /* short */
  animation: moveInRight 2s ease-out;
}