.row {
    width:$grid-width;
    background-color: #eee;
    margin: 0 auto;

    // এই গ্রুপের শেষ মেম্বারটি বাদে বাকি সবার ওপর এই স্টাইলটি প্রয়োগ করো।
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col-1-of-2 {
        width: calc(calc(100% - #{$gutter-horizontal}) / 2);
        background-color: orangered;
        float:left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}