// Abstracts path
@import "abstracts/_functions";
@import "abstracts/_mixins";
@import "abstracts/_variables";

// Base path
@import "base/_base.scss";
@import "base/_animation";
@import "base/_typography";
@import "base/_utilities.scss";

// Layout path
@import "layout/_header.scss";
@import "layout/_grid.scss";

// Pages path
@import "pages/_home.scss";
@import "pages/_home.scss";

// components path
@import "components/_button.scss";





